<Config>
  <Token></Token><!-- Your SendGrid API key. -->
  <From></From><!-- The email "from" address. -->
  <FromName></FromName><!-- The email "from" display name. -->
  <To></To><!-- The email "to" address. -->
  <ToName></ToName><!-- The email "to" display name. -->
</Config>
